* {
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #1D1D1D;
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    text-align: left;
}

a {
    color: #09789B;
    text-decoration: none;
}

h1#logo {
    float: left;
    padding-left: 0;
    padding-right: 10px;
    padding-top: 15px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

h1#logo a {
    background: url(../../../images/TwitLogic_logo_small.png) no-repeat scroll 0 0 transparent;
    display: block;
    width: 101px;
    height: 132px;
}

#about_us {
    background: url(../img/aboutus-bg.gif) no-repeat scroll 0 0 transparent;
    float: right;
    height: 35px;
    width: 355px;
}

#about_us ul {
    list-style-type: none;
    padding-top: 1px;
}

#about_us ul li {
    border-right: 1px solid #D3D3D3;
    display: inline;
    float: left;
    height: 25px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
}

#about_us ul li.last {
    border-right: 0 none;
}

.shell {
    margin: 0 auto;
    width: 982px;
}

.cl {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
}

#sidebar {
    float: left;
    position: relative;
    padding: 0;
    width: 250px;
}

.sidebar_content {
    background: url(../img/sidebar-bg.gif) repeat-y scroll 0 0 transparent;
    border: 1px solid #CBCCCB;
    padding: 5px 5px 5px 5px;
    position: relative;
    margin-bottom: 10px;
}

#sidebar div.facet_predicate {
    font-size: 12px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-weight: bold;
}

#sidebar div.facet_predicate a {
    color: #000000;
}

#sidebar td.value {
    padding-left: 5px;    
}

#sidebar .all_values {
    width: 100%;
    /*overflow: scroll;
     overflow-y: hidden;
     -ms-overflow-y: hidden;*/
}

#sidebar table.some_values {
    width: 100%;    
}

#sidebar table.more_values {
    padding-top: 0;
    width: 100%;
}

#sidebar td.ohyeah {
    text-align: right;
}

.more_button {
    background: url(../img/more.gif) no-repeat scroll 0 0 transparent;
    bottom: 0;
    float: right;
    height: 18px;
    padding-top: 4px;
    position: relative;
    right: -2px;
    text-align: center;
    width: 47px;
}

#content {
    background: url(../img/content-bg.gif) repeat-y scroll 0 0 transparent;
    border: 1px solid #CBCCCB;
    float: right;
    padding-bottom: 16px;
    padding-top: 16px;
    width: 710px;
}

#content_wrapper {
    padding-left: 13px;
    padding-right: 15px;
}

.tweet {
    letter-spacing: 0.5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #D8D8D8;
    width: 100%;
}

span.tweet-body {
    overflow:hidden;
}

.item-descr h3, .item-descr h3 a {
    height: 60px;
    color: #09789B;
    font-size: 12px;
}

.item-descr {
    float: left;
    line-height: 18px;
    width: 530px;
}

.item-descr a {
    font-weight: bold;
}

span.tweet-content {
    font-family: Georgia, Times New Roman, serif;
    font-size: 1.2em;
    color: #000000;
}

img.profile-image {
    border: 0px;
}

.item-time a {
    font-weight: normal;
    font-family: Lucida Grande, Helvetica, Verdana, sans;
    font-size: 0.9em;
    line-height: 1.2em;
    color: #999999;
}

.last_tweet {
    border-bottom: 0 none;
    padding-bottom: 0;
}

#footer {
    padding-bottom: 10px;
    padding-left: 18px;
    padding-top: 10px;
}

#modaldiv {
    position:absolute;
    height:50%;
    left:25%;
    top:25%;
    background:#F0F0FF;
    border:solid black 1px;
    padding:5px;
    z-index: 1;
    visibility: hidden;
}

#modaltweets {
    
}