#life {
	margin: 0;
	padding: 0;
	color: green;
	font-family: Courier;
	font-weight: bold;
	text-align: center;
}

#validators {
	text-align: center;
}

div.img {
	border: .2em dotted #009; 
	padding: 5px;
}
